body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
}
/*barra de navegacion*/
.navbar {
    margin-bottom: 0;
    background-color: #0372a5;
    z-index: 9999;
    border: 0;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Cutive Mono', monospace;
    height: 65px;
    padding: 5px;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffe205 !important;
    font-weight: bold;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.post {
    background-color: #eaeaea3b;
    overflow: hidden;
    padding: 1.3em;
}

.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    height: 196px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}

.title-campaings {
    line-height: 25px;
    font-size: x-large;
    font-weight: bold;
}
h1.hidden-xs.hidden-sm {
    color: aliceblue;
    font-size: 40px;
    font-family: 'Cutive Mono', monospace;
}
p.text-justify {
    color: aliceblue;
    font-size: initial;
    padding: 2em;
    font-family: 'Cutive Mono', monospace;
}

.bg-blue{
  background-color: #0372a5;
}

#majdi {
    padding-top: 5px;
}

/*social*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

li {
    list-style: none;
}
.socialIcons {
    font-size: 30px;
    padding: inherit;
}
.facebook{
    margin: 1em;
    color: #2157f7;
}
.twitter{
    margin: 1em;
    color: #00bcf9;
}
.instagram{
    margin: 1em;
    color: grey
}
.youtube{
    margin: 1em;
    color: #ef0000;
}
.margen {
    margin-top: 4em;
}
.margen a {
    color: black;
}
.block {
    padding-top: 4em;
    padding-bottom: 4em;
}
.cultive {
    font-family: 'Cutive Mono', monospace;
    font-size: 16px;
    font-weight: 900;
    color: wheat;
}
.cultiveh2 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #0295e8;
}
.cultive-about{
  font-family: 'Cutive Mono', monospace;
  font-size: 12px;
  color: azure;
}
.cultivecopy {
    font-family: 'Cutive Mono', monospace;
    font-size: 11px;
    color: white;
}
.subtitle {
    color: #fff;
    background-color: #0295e8;
    min-height: 100px;
    padding: 10px;
}
.text-p {
    font-family: 'Cutive Mono', monospace;
    font-size: 16px;
    font-weight: 900;
    color: #075da5;
}
.transparent {
    background-color: #f0ffff80;
}
.fluid {
    margin-right: auto;
    margin-left: auto;
}
.spacing {
    padding-top: 2em;
    padding-bottom: 2em;
}
.donate {
    background-image: url(../img/background.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
.footer {
    background-color: #0071ab;
}
.copyright {
    background-color: #000000;
}
.campaings {
    background-color: #FFFFFF;
}
.newsletter {
    background-color: #e2dfdf;
}
.follow {
    background-color: #e2dfdf;
}